vmconnect/src/main/mule/vmconnect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="3dfa2a30-6d2c-47bd-b504-6e01ead28436" >
		<vm:queues >
			<vm:queue queueName="que" />
		</vm:queues>
	</vm:config>
	<flow name="vmconnectFlow" doc:id="d38a94af-c491-4c1c-ae6b-0d1946d80f92" >
		<http:listener doc:name="Listener" doc:id="687fee18-c63a-4bd4-b261-48be7530c0f7" config-ref="HTTP_Listener_config" path="/VM"/>
		<vm:publish queueName="que" doc:name="Publish" doc:id="514b2b85-0cdd-411b-8b52-87ec9d8e1e01" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="c2f9b7cc-a17d-4fd3-9042-ebee0338772b" message="#[payload]"/>
	</flow>
	<flow name="vmconnectFlow2" doc:id="9327d38d-bf10-48df-8f09-468502e3906c" >
		<http:listener doc:name="Listener" doc:id="79f2b5f8-b493-4c70-b7e9-0bc74186fb3f" config-ref="HTTP_Listener_config" path="/consume"/>
		<vm:consume doc:name="Consume" doc:id="e0a7cba1-42c3-4819-b7d5-335951159e99" config-ref="VM_Config" queueName="que" timeout="15"/>
	</flow>
	<flow name="vmconnectFlow1" doc:id="2e76c803-68fd-45eb-8a1f-0fec9252254b" initialState="stopped">
		<vm:listener queueName="que" doc:name="Listener" doc:id="b18bdcf3-8e8d-4890-a485-fac147a94bd8" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="4680ae54-4c76-41b2-9cfb-05b81bd74955" message="#[payload]"/>
	</flow>
</mule>
